
body {
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}



content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

.input-img {
    border: 5px solid transparent;
    border-radius: 100%;
}
input:checked + .input-img {
    border: 5px solid limegreen;
}

input {
    display: none;
}

.user-choices {
    display: flex;
    justify-content: center;
}